<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 col-md-4 col-sm-12">
      <%= render "admin/sidebar" %>
    </div>
    <div class="col-lg-10 col-md-8 col-sm-12">
      <ul class="nav nav-pills mb-3 nav-fill" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="all-order-tab" data-bs-toggle="pill" data-bs-target="#all-order" type="button" role="tab" aria-controls="all-order" aria-selected="true">Pending Orders <span class="badge bg-dark"><%= @pending_orders.count %></span></button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="delivered-order-tab" data-bs-toggle="pill" data-bs-target="#delivered-order" type="button" role="tab" aria-controls="delivered-order" aria-selected="false">Completed Orders <span class="badge bg-dark"><%= @completed_orders.count %></span></button>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="all-order" role="tabpanel" aria-labelledby="all-order-tab">
          <table id="dt" class="table table-dark table-striped">
            <thead class="thead-dark">
              <tr>
                <th>No</th>
                <th>Order ID</th>
                <th>Full Name</th>
                <th>Delivery Method</th>
                <th>Total Price</th>
                <th colspan="2">Status</th>
                <th>Date Ordered</th>
                <th>Delivery Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% @pending_orders.each_with_index do |order,index| %>
                <tr>
                  <td><%= index + 1 %></td>
                  <td><%= order.orderid %> <%= check_payment(order) %></td>
                  <td><%= order.fullname %></td>
                  <td><%= order.delivery_method %></td>
                  <td><%= number_to_currency(order.total_price, unit: "RM") %></td>
                  <td id="order-setstatus_<%= order.id %>"><%= check_status(order) %></td>
                  <td id="order-status_<%= order.id %>">
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                      <% if order.status == "received" %>
                        <%= link_to "Set Preparing", mark_preparing_admin_order_path(order), method: :patch, remote: true, class: "btn btn-warning" %>
                      <% elsif order.status == "preparing" %>
                        <%= link_to "Set Delivering", mark_delivering_admin_order_path(order), method: :patch, remote: true, class: "btn btn-info" %>
                      <% elsif order.status == "delivering" %>
                        <%= link_to "Set Delivered", mark_delivered_admin_order_path(order), method: :patch, remote: true, class: "btn btn-primary" %>
                      <% elsif order.status == "delivered" %>
                        <%= link_to "Set Cancelled", mark_cancelled_admin_order_path(order), method: :patch, remote: true, class: "btn btn-danger" %>
                      <% end %>
                      <% if order.paid == false %>
                        <%= link_to "Set Paid", mark_paid_admin_order_path(order), method: :patch, remote: true, class: "btn btn-success" %>
                      <% else %>
                        <%= link_to "Set Unpaid", mark_unpaid_admin_order_path(order), method: :patch, remote: true, class: "btn btn-danger" %>
                      <% end %>
                    </div>
                  </td>
                  <td><%= order.created_at.strftime("%d %B %Y") %></td>
                  <td><%= order.delivery_date_id? ? order.delivery_date.date.strftime('%a, %d %b %Y') : "N/A" %></td>
                  <td>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                      <%= link_to admin_order_path(order), class: "btn btn-primary" do %>
                        <i class="fas fa-eye"></i> View
                      <% end %>
                      <%= link_to admin_order_path(order), method: :delete, data: { confirm: 'Are you sure?', turbolinks: false }, class: "btn btn-danger" do %>
                        <i class="fas fa-trash-alt"></i>
                      <% end %>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="tab-pane fade" id="delivered-order" role="tabpanel" aria-labelledby="delivered-order-tab">
          <table id="dt" class="table table-dark table-striped">
            <thead class="thead-dark">
              <tr>
                <th>No</th>
                <th>Order ID</th>
                <th>Full Name</th>
                <th>Delivery Method</th>
                <th>Total Price</th>
                <th colspan="2">Status</th>
                <th>Date Ordered</th>
                <th>Delivery Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% @completed_orders.each_with_index do |order,index| %>
                <tr>
                  <td><%= index + 1 %></td>
                  <td><%= order.orderid %> <%= check_payment(order) %></td>
                  <td><%= order.fullname %></td>
                  <td><%= order.delivery_method %></td>
                  <td><%= number_to_currency(order.total_price, unit: "RM") %></td>
                  <td id="order-setstatus_<%= order.id %>"><%= check_status(order) %></td>
                  <td id="order-status_<%= order.id %>">
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                      <% if order.status == "received" %>
                        <%= link_to "Set Preparing", mark_preparing_admin_order_path(order), method: :patch, remote: true, class: "btn btn-warning" %>
                      <% elsif order.status == "preparing" %>
                        <%= link_to "Set Delivering", mark_delivering_admin_order_path(order), method: :patch, remote: true, class: "btn btn-info" %>
                      <% elsif order.status == "delivering" %>
                        <%= link_to "Set Delivered", mark_delivered_admin_order_path(order), method: :patch, remote: true, class: "btn btn-primary" %>
                      <% elsif order.status == "delivered" %>
                        <%= link_to "Set Cancelled", mark_cancelled_admin_order_path(order), method: :patch, remote: true, class: "btn btn-danger" %>
                      <% end %>
                      <% if order.paid == false %>
                        <%= link_to "Set Paid", mark_paid_admin_order_path(order), method: :patch, remote: true, class: "btn btn-success" %>
                      <% else %>
                        <%= link_to "Set Unpaid", mark_unpaid_admin_order_path(order), method: :patch, remote: true, class: "btn btn-danger" %>
                      <% end %>
                    </div>
                  </td>
                  <td><%= order.created_at.strftime("%d %B %Y") %></td>
                  <td><%= order.delivery_date_id? ? order.delivery_date.date.strftime('%a, %d %b %Y') : "N/A" %></td>
                  <td>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                      <%= link_to admin_order_path(order), class: "btn btn-primary" do %>
                        <i class="fas fa-eye"></i> View
                      <% end %>
                      <%= link_to admin_order_path(order), method: :delete, data: { confirm: 'Are you sure?', turbolinks: false }, class: "btn btn-danger" do %>
                        <i class="fas fa-trash-alt"></i>
                      <% end %>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>