<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <%= render "admin/sidebar" %>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Order Details <%= @order.orderid %> <%= check_payment(@order) %></h5>
        </div>
        <div class="card-body">

          <table class="table table-bordered">
            <tbody>
              <tr>
                <th scope="row" class="table-dark">Full Name</th>
                <td><%= @order.fullname %></td>
              </tr>
              <tr>
                <th scope="row" class="table-dark">Phone Number</th>
                <td><%= @order.phone_number %></td>
              </tr>
              <tr>
                <th scope="row" class="table-dark">Address</th>
                <td><%= @order.fulladdress %></td>
              </tr>
              <tr>
                <th scope="row" class="table-dark">Menu</th>
                <td>
                  <ul class="list-group">
                    <% @order.menu.each_with_index do |menu,index| %>
                      <li class="list-group-item"><%= menu.name %> - <%= menu.weight %>g - <%= number_to_currency(menu.price, unit: "RM") %></li>
                    <% end %>
                  </ul>
                </td>
              </tr>
              <tr>
                <th scope="row" class="table-dark">Status</th>
                <td><%= check_status(@order) %></td>
              </tr>
              <tr>
                <th scope="row" class="table-dark">Delivery Method</th>
                <td><%= @order.delivery_method %></td>
              </tr>
              <tr>
                <th scope="row" class="table-dark">Delivery Date</th>
                <td><%= @order.delivery_date_id? ? @order.delivery_date.date.strftime('%a, %d %b %Y') : "N/A" %></td>
              </tr>
              <tr>
                <th scope="row" class="table-dark">Delivery Surcharge</th>
                <td><%= number_to_currency(@order.delivery_surcharge, unit: "RM") %></td>
              </tr>
              <% if @order.promocode.present? %>
              <tr>
                <th scope="row" class="table-dark">Discount</th>
                <td>
                  <% if @promo.fixed_amount.present? %>
                    <%= number_to_currency(@promo.fixed_amount, unit: "RM") %>
                  <% else %>
                    <%= @promo.value_percent %>%
                  <% end %>
                </td>
              </tr>
              <% end %>
              <tr>
                <th scope="row" class="table-dark">Total Price</th>
                <td><%= number_to_currency(@order.total_price, unit: "RM") %></td>
              </tr>
              <tr>
                <th scope="row" class="table-dark">Note</th>
                <td><%= @order.note %></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>