<div class="container">
  <div class="row align-items-start">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Order Details <%= check_payment(@order) %></h5>
        </div>
        <div class="card-body">
          <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Thank you for your order!</h4>
            <hr>
            <p>Please keep your Order ID for your future references.<br />Your Order ID is <strong><%= @order.orderid %></strong></p>
          </div>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th scope="row" class="table-dark">Full Name</th>
                <td><%= @order.fullname %></td>
              </tr>
              <tr>
                <th scope="row" class="table-dark">Phone Number</th>
                <td><%= @order.phone_number %></td>
              </tr>
              <tr>
                <th scope="row" class="table-dark">Address</th>
                <td><%= @order.fulladdress %></td>
              </tr>
              <tr>
                <th scope="row" class="table-dark">Order Created</th>
                <td><%= @order.created_at.strftime("%d %B %Y") %></td>
              </tr>
              <tr>
                <th scope="row" class="table-dark">Menu</th>
                <td>
                  <ul class="list-group">
                    <% @order.menu.each_with_index do |menu,index| %>
                      <li class="list-group-item"><%= menu.name %> - <%= menu.weight %>g - <%= number_to_currency(menu.price, unit: "RM") %></li>
                    <% end %>
                  </ul>
                </td>
              </tr>
              <tr>
                <th scope="row" class="table-dark">Status</th>
                <td>
                  <% if @order.received? %>
                    <span class="badge bg-success">Order Received</span>
                    <span class="badge bg-secondary">Preparing</span>
                    <span class="badge bg-secondary">Delivering</span>
                    <span class="badge bg-secondary">Delivered</span>
                  <% elsif @order.preparing? %>
                    <span class="badge bg-secondary">Order Received</span>
                    <span class="badge bg-warning">Preparing</span>
                    <span class="badge bg-secondary">Delivering</span>
                    <span class="badge bg-secondary">Delivered</span>
                  <% elsif @order.delivering? %>
                    <span class="badge bg-secondary">Order Received</span>
                    <span class="badge bg-secondary">Preparing</span>
                    <span class="badge bg-info">Delivering</span>
                    <span class="badge bg-secondary">Delivered</span>
                  <% elsif @order.delivered? %>
                    <span class="badge bg-secondary">Order Received</span>
                    <span class="badge bg-secondary">Preparing</span>
                    <span class="badge bg-secondary">Delivering</span>
                    <span class="badge bg-primary">Delivered</span>
                  <% end %>
                </td>
              </tr>
              <tr>
                <th scope="row" class="table-dark">Delivery Method</th>
                <td><%= @order.delivery_method %></td>
              </tr>
              <tr>
                <th scope="row" class="table-dark">Delivery Surcharge</th>
                <td><%= number_to_currency(@order.delivery_surcharge, unit: "RM") %></td>
              </tr>
              <% if @order.promocode.present? %>
              <tr>
                <th scope="row" class="table-dark">Discount</th>
                <td>
                  <% if @promo.fixed_amount.present? %>
                    <%= number_to_currency(@promo.fixed_amount, unit: "RM") %>
                  <% else %>
                    <%= @promo.value_percent %>%
                  <% end %>
                </td>
              </tr>
              <% end %>
              <tr>
                <th scope="row" class="table-dark">Total Price</th>
                <td><%= number_to_currency(@order.total_price, unit: "RM") %></td>
              </tr>
              <tr>
                <th scope="row" class="table-dark">Note</th>
                <td><%= @order.note %></td>
              </tr>
            </tbody>
          </table>
          <% if !@order.paid? %>
          <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">Please make your payment.</h4>
            <p>Kindly, please make your payment to our account at:</p>
            <p>
              <strong>Bank Name: </strong>CIMB Berhad<br>
              <strong>Bank Account Name: </strong>Rubiest Development<br>
              <strong>Bank Account No: </strong>8603048868<br>
            </p>
            <hr>
            <p class="mb-0">Use your <strong>Order ID</strong> as reference when making payment.</p>
            <p>Please send us the receipt as proof of payment to <strong>+60 17 429 0525</strong> via <strong>Whatsapp</strong>.</p>
            <p class="mb-0">Your order will be process once the transaction is completed.</p>
            <p>Please do not hesitate to contact us at <strong>+60 17 429 0525</strong> if you have any question. Thank you!</p>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


