<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <%= image_tag "logo2.png", class: "rounded-circle border-white", alt: "logo ", width: 32, height: 32 %> <%= link_to "Memoir Smoke House", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <%= link_to "Menu", menu_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to new_order_path, class: "nav-link" do %>
            <i class="fas fa-cart-arrow-down"></i> Order NOW!
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to "Contact", contact_path, class: "nav-link" %>
        </li>
        <% if !user_signed_in? %>
          <%= link_to login_path, data: { turbolinks: false }, class: "nav-link" do %>
            <i class="fas fa-user-lock"></i> Sign In
          <% end %>
        <% else %>
          <%= link_to admin_master_path, data: { turbolinks: false }, class: "nav-link" do %>
            <i class="fas fa-home"></i> My Dashboard
          <% end %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-danger", data: { turbolinks: false } %>
        <% end %>
      </ul>
      <%= form_tag(search_path, method: :get, class: "d-flex") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search by Order ID", class: "form-control me-2" %>
        <%= submit_tag ("Search"), class: "btn btn-outline-success", name: nil %>
      <% end %>
    </div>
  </div>
</nav>