<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>MemoirSmokeHouse</title>
    <meta name="description" content="We provide a wide variety of premium smoked-based meat foods; takes about 12 hours and up to cook. Definitely a taste that you will never forget!">
    <meta name="author" content="Rubiest Development">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "header" %>
    <%= render 'alert' %>
    <%= yield %>
    <%= render "footer" %>
    <%= render "fb" %>
  </body>
</html>
